<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "carspenses"
        version     = "1.0.0" >

    <name>Carspenses</name>
    <description>Zarządzaj swoim samochodem i wydatkami z nim związanymi.</description>
    <author href="http://github.com/spogon" email="szymon.pogon@gmail.com">
		Szymon Pogon, Paweł Rachwał
	</author>
	
	

    <platform name="android" />

    <icon src="assets/drawables/drawable-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="assets/drawables/drawable-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="assets/drawables/drawable-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="assets/drawables/drawable-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />

    <preference name="SplashMaintainAspectRatio" value="true" />

    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-whitelist" spec="1.1.0" />
    <plugin name="https://github.com/spogon/cordova-plugin-local-notifications.git" />

</widget>