<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "carspenses"
        version     = "1.0.0" >

    <name>Carspenses</name>
    <description>Zarządzaj swoim samochodem i wydatkami z nim związanymi.</description>
    <author href="http://github.com/spogon" email="szymon.pogon@gmail.com">
		Szymon Pogon, Paweł Rachwał
	</author>
	
	

    <platform name="android" />

    <icon src="www/assets/drawables/drawable-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="www/assets/drawables/drawable-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="www/assets/drawables/drawable-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="www/assets/drawables/drawable-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <!--<preference name="Fullscreen" value="true" />-->

</widget>