<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "carspenses"
        version     = "1.0.0" >

    <name>Carspenses</name>
    <description>Zarządzaj swoim samochodem i wydatkami z nim związanymi.</description>
    <author href="http://github.com/spogon" email="szymon.pogon@gmail.com">
		Szymon Pogon, Paweł Rachwał
	</author>
	
	

    <platform name="android" />
	<plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" />

    <splash src="assets/drawables/drawable-hdpi/splashscreen_landscape.png" density="land-hdpi"/>
    <splash src="assets/drawables/drawable-ldpi/splashscreen_landscape.png" density="land-ldpi"/>
    <splash src="assets/drawables/drawable-mdpi/splashscreen_landscape.png" density="land-mdpi"/>
    <splash src="assets/drawables/drawable-xhdpi/splashscreen_landscape.png" density="land-xhdpi"/>
    <splash src="assets/drawables/drawable-xxhdpi/splashscreen_landscape.png" density="land-xxhdpi"/>
    <splash src="assets/drawables/drawable-xxxhdpi/splashscreen_landscape.png" density="land-xxxhdpi"/>
 
    <splash src="assets/drawables/drawable-hdpi/splashscreen.png" density="port-hdpi"/>
    <splash src="assets/drawables/drawable-ldpi/splashscreen.png" density="port-ldpi"/>
    <splash src="assets/drawables/drawable-mdpi/splashscreen.png" density="port-mdpi"/>
    <splash src="assets/drawables/drawable-xhdpi/splashscreen.png" density="port-xhdpi"/>
    <splash src="assets/drawables/drawable-xxhdpi/splashscreen.png" density="port-xxhdpi"/>
    <splash src="assets/drawables/drawable-xxxhdpi/splashscreen.png" density="port-xxxhdpi"/>

    <icon src="assets/drawables/drawable-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="assets/drawables/drawable-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="assets/drawables/drawable-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="assets/drawables/drawable-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />

    
    <!--<preference name="Fullscreen" value="true" />-->

</widget>